<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<form name="form1" method="post" action="insert.do">
	<table border="1" width="800px">
		<tr>
			<td>이름</td>
			<td><input name="name" size="20"></td>
		</tr>
		<tr>
			<td>이메일</td>
			<td><input name="email" size="40"></td>
		</tr>
		<tr>
			<td colspan="2">
				<textarea name="content" rows="10" cols="82"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="확인">
			</td>
		</tr>
	</table>
</form>
</body>
</html>