<script>
$(function(){
	$("#btnReplyDelete").click(function(){
		$.ajax({
			url: "/reply/delete/"+document.form_reply.replyIdx.value,
			success: function(result){
				if(result=="success"){
					alert("삭제되었습니다.");
					$("#modifyReply").css("visibility","hidden");
					listReply();
				}
			}
		});
	});
	$("#btnReplyUpdate").click(function(){
		var replyText=$("#detail_replytext").val();
		$.ajax({
			type: "post",
			url: "/reply/update/"+document.form_reply.replyIdx.value,
			data: {replyText: replyText},
			success: function(result){
				if(result=="success"){
					$("#modifyReply").css("visibility","hidden");
					listReply();
				}
			}
		});
	});
	$("#btnReplyClose").click(function(){
		$("#modifyReply").css("visibility","hidden");
	});
});
</script>
<form name="form_reply" method="post">
<textarea rows="3" cols="40" id="detail_replytext">[[${dto.replyText}]]</textarea>
<br>
<button id="btnReplyUpdate" type="button" class="btn btn-info">수정</button>
<button id="btnReplyDelete" type="button" class="btn btn-danger">삭제</button>
<button id="btnReplyClose" type="button" class="btn btn-primary">닫기</button>
<input type="hidden" name="replyIdx" th:value="${dto.replyIdx}">
</form>