<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mylayout}">
<th:block layout:fragment="content">
<script>
$(function(){
	$("#btnList").click(function(){
		location.href="/board/list";
	});
	listReply(); 
	$("#btnReply").click(function(){
		reply();
	});
	$(".fileDrop").on("dragenter dragover",function(e){
		e.preventDefault(); 
	});
	$(".fileDrop").on("drop",function(e){
		e.preventDefault();
		const files=e.originalEvent.dataTransfer.files; 
		const file=files[0]; 
		const form_data=new FormData(); 
		form_data.append("file",file); 
		$.ajax({
			url: "/upload/ajax_upload",
			data: form_data, 
			dataType: "text",
			processData: false,
			contentType: false, 
			type: "post",
			success: function(data){
				const fileInfo=getFileInfo(data); 
				let html="<a href='"+fileInfo.get_link+"'>"+fileInfo.original_name+"</a><br>";
				html+="<input type='hidden' class='file' value='"+fileInfo.file_name+"'>";
				$("#uploadedList").append(html);  
			}
		});
	});	
	listAttach(); 
	$("#uploadedList").on("click",".file_del",function(e){
		const that=$(this); 
		$.ajax({
			type:"post",
			url: "/upload/delete_file",
			data: { file_name: $(this).attr("data-src")},
			dataType: "text",
			success: function(result){
				if(result=="deleted"){ 
					that.parent("div").remove();  
				}
			}
		});
	});
	$("#btnUpdate").click(function(){
		let str="";
		$("#uploadedList .file").each(function(i){
			str+="<input type='hidden' name='files["+i+"]' value='"+$(this).val()+"'>";
		});
		$("#form1").append(str);
		document.form1.action="/board/update";
		document.form1.submit();
	});
	$("#btnDelete").click(function(){
		if(confirm("삭제하시겠습니까?")){
			document.form1.action="/board/delete";
			document.form1.submit();
		}
	});	
});
function getFileInfo(file_name){
	const get_link="/upload/display_file?file_name="+file_name;
	original_name=file_name.substr(file_name.indexOf("_")+1);
	return { original_name: original_name, get_link: get_link, file_name: file_name};
}
function listAttach(){
	$.ajax({
		url:"/board/list_attach/"+document.form1.idx.value,
		success:function(list){
			$(list).each(function(){
				const fileInfo=getFileInfo(this);
				let html="<div><a href='"+fileInfo.get_link+"'>"+fileInfo.original_name+"</a>&nbsp;&nbsp;";
				html+="<a href='#' class='file_del' data-src='"+this+"'>[삭제]</a></div>";
				$("#uploadedList").append(html);
			});
		}
	});
}
function reply(){
	const replyText=$("#replyText").val();
	const boardIdx=document.form1.idx.value;
	const params={"replyText":replyText,"boardIdx": boardIdx};
	$.ajax({
		type:"post",
		url:"/reply/insert",
		data: params,
		success: function(){
			$("#replyText").val("");
			listReply();
		}
	});
}
function listReply(){
	$.ajax({
		url:"/reply/list?boardIdx="+document.form1.idx.value,
		success: function(result){
			$("#listReply").html(result);
		}
	});
}
function showModify(idx){
	$.ajax({
		url:"/reply/detail/"+idx,
		success: function(result){
			$("#modifyReply").html(result);
			$("#modifyReply").css("visibility","visible"); 
		}
	});
}
</script>
<style>
.fileDrop { width:80%; height:100px; border:1px dotted gray; background: gray; }
</style>
<div class="container">
	<form id="form1" name="form1" method="post">
		<div class="mb-3">작성일자: [[${#dates.format(dto.regdate,'yyyy-MM-dd HH:mm:ss')}]]</div>
		<div class="mb-3">조회수: [[${dto.hit}]]</div>
		<div class="mb-3">이름: [[${dto.member.name}]]</div>
		<div class="mb-3">
		  <label for="title" class="form-label">제목</label>
		  <input class="form-control" id="title" name="title" th:value="${dto.title}">
		</div>
		<div class="mb-3">
		  <label for="contents" class="form-label">내용</label>
		  <textarea class="form-control" rows="3" cols="80" name="contents" id="contents">[[${dto.contents}]]</textarea>
		</div>
		<div id="uploadedList"></div>
		<div class="fileDrop"></div>
		<input type="hidden" name="idx" th:value="${dto.idx}">
		<span th:if="${session.userid == dto.member.userid}">
			<button type="button" id="btnUpdate" class="btn btn-info">수정</button>
			<button type="button" id="btnDelete" class="btn btn-danger">삭제</button>
		</span>
		<button type="button" id="btnList" class="btn btn-primary">목록</button>
		<p th:if="${ #strings.toString(param.msg) == 'error_reply' }" 
		style="color:red">댓글이 있으므로 삭제할 수 없습니다.</p>
		<p th:if="${ #strings.toString(param.msg) == 'error_attach' }" 
			style="color:red">첨부파일이 있으므로 삭제할 수 없습니다.</p>
	</form>
	<div th:if="${session.userid != null}">
		<textarea class="form-control" rows="5" cols="80" id="replyText" placeholder="댓글을 작성하세요."></textarea>
		<button type="button" id="btnReply" class="btn btn-primary">확인</button>
	</div>
	<div id="modifyReply"></div>
	<div id="listReply"></div>
</div>
</th:block>
</html>